<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>filter.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AuthStartupServlet</servlet-name>
        <servlet-class>controller.authentication.AuthStartupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLoginServlet</servlet-name>
        <servlet-class>controller.authentication.AuthLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountSearchServlet</servlet-name>
        <servlet-class>controller.account.AccountSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <servlet-class>controller.authentication.AuthRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <servlet-class>controller.account.AccountUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <servlet-class>controller.account.AccountDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <servlet-class>controller.account.AuthLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthStartupServlet</servlet-name>
        <url-pattern>/AuthStartupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLoginServlet</servlet-name>
        <url-pattern>/AuthLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountSearchServlet</servlet-name>
        <url-pattern>/AccountSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthRegisterServlet</servlet-name>
        <url-pattern>/AuthRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateServlet</servlet-name>
        <url-pattern>/AccountUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeleteServlet</servlet-name>
        <url-pattern>/AccountDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthLogoutServlet</servlet-name>
        <url-pattern>/AuthLogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>BookStoreDB_Connection</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
